# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Directories contain data is not used in the solution
unused_data/

# Directory contains data file exceeds GitHub's file size limit of 100.00 MB
data/
